# Environments
.entangleRL-env/
.venv
venv/
env/

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# Build and distribution
build/
dist/
*.egg-info/

# Logs and data
logs/
models/*.pth
models/*.pt
renders/
runs/

# IDE specific
.vscode/
.idea/

# OS specific
.DS_Store
